img {
	width: 300px;
	height: 200px;
	border: 2px solid #6495ED;
}
#intro {
    color: #B83C3A;
   }
#small {
	color: #CC0005;
}
a {
	text-decoration: none;
	 color: #008B45;
	}
a:hover {
    color: #00FF00;
}
a:visited {
    color: #EE9A00;
}
.fancy {
    font-family: Cursive;
    color: violet;
}
#serious {
    font-family: Courier;
    color: #8C8C8C;
}
p:first-child {
    font-family: Cursive;
}
p:nth-child(2) {
    color: #CC0000;
}
.negative {
	text-align: right;
	color: red;
	background-color: #00FF00;
}

}
#background {
    background-color: #F0F8FF;
    font-family: Arial, Verdana, Sans-serif;
}
.money {
    text-align: right;
}
td {
    padding: 7px 10px 10px 10px;
}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}
